/*
teamplate name: E-BUY
author:cit
version:1.0
----------------------------------
table of content
----------------------------------
1)common css
2)about css
*/
/* common css */
:root{
    --highlight-color:#37a000;
    --text-color:#777;
    --heading:#353535;
}
body{
    font-family: 'lato', sans-serif;
}
h1,h2,h3,h4,h5,h6,ul,ol,span,p{
padding: 0;


margin: 0;

}
ul{
    list-style: none;
    display: inline-block;
}
li{
    display: inline-block;
    text-align: center;
   
    color: rgba(255, 255, 255, 0.884);
}
a:hover{
    text-decoration: none;
    color:white;
    
}
a{
    text-decoration: none;
    color: white;

}
body{
    background-color: #252323;
    color: white;
}
span{
    color: rgb(168, 31, 54);
}
h2{
    color: white;
    font-size: 31px;
    font-weight:800;
    font-family: sans-serif;
    /* line-height: 0px; */
    padding: 25px 0px;
}
h3{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.658);
    font-family: sans-serif;
    font-weight: bold;
}
p{
    color: rgba(255, 255, 255, 0.733);
    padding: 30px 0px;
}
/* banner */
.banner_icon ul li{
    padding: 10px 0;
}
.banner_icon i{
    font-size: 23px;
    border: 1px rgb(20, 19, 19) solid;
    padding: 8px;
    margin-right: 8px;
    background-color: rgb(20, 19, 19);
    box-shadow: 4px 5px 5px black;
    border-radius:7px ;
}
/* feature */
.feature{
   margin-left: 40px;
   padding: 50px 0;
}
.feature_item{
    padding: 35px 35px;
    border: black 1px solid;
    background-color: rgba(19, 17, 17, 0.678);
    margin-right: 15px;
    margin-bottom: 20px;
    box-shadow: 4px 5px 5px black;
    border-radius: 5px;
}
.feature_item i{
font-size: 29px;
color: #f9004d;
margin-bottom: 20px;
}
/* portfolio-item */
.portfolio .row{
    margin-left: 30px;
}
.portfolio h2{
    margin-bottom: 20px;
}
.portfolio-item{
    padding: 15px 15px;
    border: black 1px solid;
    background-color: rgba(19, 17, 17, 0.678);
    margin-right: 15px;
    margin-bottom: 20px;
    box-shadow: 4px 5px 5px black;
    border-radius: 5px;
}
/* resunme-menu */
.resume-item{
    margin: 20px 0;
    padding: 30px 15px;
    color: rgba(255, 255, 255, 0.719);
    border: black 1px solid;
    background-color: rgba(19, 17, 17, 0.678);
    box-shadow: 4px 5px 5px black;
    border-radius: 5px;
}
.resume-item h2{
    color: rgba(255, 255, 255, 0.719);
}
.resunme-menu ul{
    background-color: rgba(20, 19, 19, 0.808);
    border-radius: 5px;
    
    
}
.resunme-menu ul li{
    padding: 15px 15px;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.575);
    margin-right: 5px;
    cursor: pointer;
}
.resunme-menu ul li:hover{
    background-color: rgba(15, 14, 14, 0.829);
    border-radius: 10px;
    transition: 1s;
    color: #f9004d;
}